<div class="footer-container">
    <div>
        <h3>Shop</h3>
        <ul>
            <li>Buy Online</li>
            <li>Buy in Person</li>
        </ul>
    </div>

    <div>
        <h3>About</h3>
        <ul>
            <li>Our Juices</li>
            <li>Our Mission</li>
            <li>Our Customers</li>
            <li>Our team</li>
        </ul>
    </div>

    <div>
        <h3>Social Media</h3>
        <ul>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
    </div>

    <div>
        <h3>Contact</h3>
        <ul>
            <li>(XXX)XXX-XXXX</li>
            <li>xxxxx@xxx.com</li>
        </ul>
    </div>
</div>