.footer-container {
    background-color: #231f20;
    height: 300px;
    width: 100%;
    color: #666;
    border-top: 5px solid #666;

    div {
        margin-top: 25px;
        height: 80%;
        width: 25%;
        float: left;
        h3 {
            margin-top: 0;
            text-align: center;
            font-size: 1em;
        }

        ul{
            list-style-type: none;
            border-right: .05em solid #666;
            height: 200px;
            li {
                padding-left: 50px;
                margin: 15px 0;
                font-size: .85em;
                font-weight: lighter;   
            }
        }
    }
}



