
<div class="header-container">
    <img class="banner-img" src="https://github.com/willnickerson/earth-house-juice/blob/master/wood-banner.jpeg?raw=true">
        <div class="left">
            <h1>Earth House</h1>
            <nav-bar></nav-bar>
        </div>
        <div class="right">
            <a href="https://twitter.com/">
                <span class="icon-twitter"></span>
            </a>
            <a href="https://www.facebook.com/">
                <span class="icon-facebook2"></span>
            </a>
            <a href="https://www.instagram.com/">
                <span class="icon-instagram"></span>
            </a>
        </div>
</div>