section.buy {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -360px;
    h1 {
        font-size: 4em;
        color: rgb(130,130,255);
        margin: 0;
        display: inline;
    }

    p{
        display: inline;
        font-size: 1.25em;
    }
    h2 {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif; 
        text-align: center;
        margin: 0;
    }
}

img.under-header {
    z-index: -1;
    position: relative;
    top: -110px;
    display: block;
}
